

.sunday-popup {

    position: fixed;
    right: 18px;
    bottom: 98px;

    width: 360px;
    min-width: 360px;
    max-width: 360px;

    height: 580px;
    min-height: 580px;
    max-height: 580px;

    border-radius: 38px;
    overflow: hidden;

    z-index: 999999;
    display: flex;

    box-shadow: 0 20px 80px rgba(0,0,0,.32);
}

.sunday-overlay{
    position: absolute;
    inset: 0;
}

.sunday-content{
    position: relative;
    z-index: 2;

    width: 100%;
    height: 100%;

    padding: 18px 20px 14px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.sunday-top{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sunday-orb-wrap{
    position: relative;
    margin-top: 2px;
}

.sunday-orb-glow{
    position: absolute;
    inset: 0;
    transform: scale(1.8);
    border-radius: 999px;
    filter: blur(75px);
    opacity: 0.6;
}

.sunday-orb{
    position: relative;
    width: 118px;
    height: 118px;
    border-radius: 999px;
    animation: pulse 2s infinite;
}

@keyframes pulse{

    0%{
        transform:scale(1);
    }

    50%{
        transform:scale(1.04);
    }

    100%{
        transform:scale(1);
    }
}

.sunday-title{
    margin-top: 14px;
    font-size: 28px;
    line-height: 1.1;
    font-weight: 700;
    text-align: center;
}

.sunday-sub{
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.6;
    text-align: center;
}

.sunday-status{
    margin-top: 18px;
    font-size: 16px;
    font-weight: 700;
}

.sunday-wave{
    margin-top: 8px;
    display: flex;
    align-items: flex-end;
    gap: 5px;
    height: 28px;
    opacity: 0;
    transition: .3s;
}

.sunday-wave.active{
    opacity: 1;
}

.sunday-wave span{
    width: 5px;
    border-radius: 999px;
    animation: wave 1.2s infinite ease-in-out;
} 

.sunday-wave span:nth-child(1){
    height: 14px;
}

.sunday-wave span:nth-child(2){
    height: 28px;
}

.sunday-wave span:nth-child(3){
    height: 16px;
}

.sunday-wave span:nth-child(4){
    height: 34px;
}

.sunday-wave span:nth-child(5){
    height: 20px;
}

@keyframes wave{
    0%{
        opacity: 0.4;
        transform: scaleY(.8);
    }

    50%{
        opacity: 1;
        transform: scaleY(1.2);
    }

    100%{
        opacity: 4;
        transform: scaleY(.8);
    }
}

.sunday-user-text{
    margin-top: 10px;
    min-height: 20px;
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
    font-weight: 600;
}

.sunday-ai-text{
    margin-top: 2px;
    min-height: 18px;
    font-size: 13px;
    line-height: 1.4;
    text-align: center;
    opacity: .82;
}

.sunday-bottom{
    position: relative;
    width: 130px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sunday-mic{
    position: relative;
    z-index: 2;

    width: 74px;
    height: 74px;

    border: none;
    border-radius: 999px;
    cursor: pointer;

    color: white;
    font-size: 26px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: .3s;

    animation: micFloat 2.5s infinite ease-in-out;
}

.sunday-mic:hover{
   transform: scale(1.06);
}

@keyframes micFloat{
    0%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(-4px);
    }

    100%{
        transform: translateY(0px);
    }
}

.sunday-mic-icon {
    width: 30px;
    height: 30px;
    object-fit: contain;
}